<h1>Portfolio Items</h1>

<% @notebooks_items.each do |notebooks_item| %>
  <p><%= notebooks_item.title %></p>
  <p><%= notebooks_item.subtitle %></p>
  <p><%= notebooks_item.body %></p>
  <%= image_tag notebooks_item.thumb_image unless notebooks_item.thumb_image.nil? %>
<% end %>
